<div class="customCard cardBack">
  <div class="horizontalPadding centerVertically targetWordContainer">
    <div class="wordBlock">
      <span class="targetWord">{{Front of Card}}</span>
      {{#IPA}}<span class="ipa">{{IPA}}</span>{{/IPA}}
    </div>
    <span class="wordAudioButtonBack">{{word_audio}}</span>
  </div>

  <div class="dividerLine"></div>

  <div class="horizontalPadding">
    <div class="header">definitions:</div>
    <div class="indent">
      <ul class="definitionsList">
        <li>{{Definitions}}</li>
      </ul>
    </div>
  </div>

  {{#image}}
  <div class="image">{{image}}</div>
  {{/image}} {{^image}}
  <div class="dividerLine"></div>
  {{/image}}

  <div class="horizontalPadding">
    <div class="header centerVertically">example:</div>
    <div class="indent">
      <div class="centerVertically" style="position: relative; gap: 5px">
        <span>{{Exemple Sentence}}</span>
        <span class="sentenceAudioButton">{{sentence_audio}}</span>
      </div>
      <div class="sentenceTranslation" id="translation" style="display: none">
        {{Translation}}
      </div>
    </div>
  </div>

  <div class="dividerLine"></div>

  <div class="horizontalPadding"></div>
</div>
